#particles-js{
  position: relative;
  width: 100%;
  height: 100%;

}

html {
  font-family: "Nunito", sans-serif;
}




bodu{
@mixin translate50
{
  -webkit-transform: translate(-50, -50%);
  -ms-transform: translate(-50, -50%);
  -o-transform: translate(-50, -50%);
  transform: translate(-50, -50%);
}

@mixin roundedCorners
{
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%;
}

@mixin rotateBase
{
  -webkit-transform: rotate3d(-1, 1, 0, 0deg);
  -ms-transform: rotate3d(-1, 1, 0, 0deg);
  -o-transform: rotate3d(-1, 1, 0, 0deg);
  transform: rotate3d(-1, 1, 0, 0deg);
}

@mixin rotateRight
{
  -webkit-transform: rotate3d(-1, 1, 0, 30deg);
  -ms-transform: rotate3d(-1, 1, 0, 30deg);
  -o-transform: rotate3d(-1, 1, 0, 30deg);
  transform: rotate3d(-1, 1, 0, 30deg);
}

@mixin rotateLeft
{
  -webkit-transform: rotate3d(-1, 1, 0, -30deg);
  -ms-transform: rotate3d(-1, 1, 0, -30deg);
  -o-transform: rotate3d(-1, 1, 0, -30deg);
  transform: rotate3d(-1, 1, 0, -30deg);
}

// n is number of stars generated
@function generateStars ($n)
{ 
  $value: '#{0} #{random(2000)}px #{random(2000)}px #FFF';

  @for $i from 2 through $n
  {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }

  @return unquote($value);
}

$stars-small:  generateStars(700);
$stars-medium: generateStars(200);
$stars-big:    generateStars(100);

body
{
  overflow: hidden;
}

#stars-container
{
  height: 200vh;
  width: 200%;
  background: radial-gradient(ellipse at bottom, #eee 0%, #eee 100%);
  overflow: hidden;
  @include translate50;
}
    
#stars
{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small;
  animation : animateStars 1s ease-in-out infinite;
  @include roundedCorners;

  &::after
  {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-small;
    @include roundedCorners;
  }
}
    
#stars2
{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $stars-medium;
  animation : animateStars 5s ease-in-out infinite;
  @include roundedCorners;
    
  &::after
  {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars-medium;
    @include roundedCorners;
  }
}
    
#stars3
{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-big;
  animation : animateStars 5s ease-in-out infinite;
  @include roundedCorners;
    
  &:after
  {
    content: " ";
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-big;
    @include roundedCorners;
  }
}

@keyframes animateStars
{
  0%{@include rotateBase;}
  25%{@include rotateRight;}
  50%{@include rotateBase;}
  75%{@include rotateLeft;}
  100%{@include rotateBase;}
}
}  



div {
  text-align: center;


}

div button {
  font-family: "Nunito";
  text-shadow: 16px 16px 16px #aaa;
  font-weight: 500;
  width: 400px;
  border: 3px solid white;
  outline: none;
  color: #000;
  background-color: white;
  border-radius: 50px;
  height: 50px;
  margin-top: 0px;
  text-align: center;
  position: relative;
  margin-top: 500px;
}


.title {

  font-family: "Work Sans";
  font-weight: 700;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 150px;
  position: absolute;
  padding-top: 300px;
  background: -webkit-linear-gradient(0deg, #48abe0 0%, rgba(200, 230, 246, 1) 58%, #ffffff 71%, #fafafa 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(0,0,0,0);
}

.slogan {

  font-family: "Nunito";
  font-weight: 700;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
  position: absolute;
  padding-top: 400px
  background-color: -webkit-linear-gradient(0deg, #48abe0 0%, rgba(200, 230, 246, 1) 58%, #ffffff 71%, #fafafa 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(0,0,0,0);
}

button:hover {
  background-color: #fafafa;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.fade-left {
  animation: fadeIn 3.5s;
}

@keyframes fadeIn {
  0% {
     opacity: 0;
     transform: translateX(200px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
} 

.fade-right {
  animation: fadeInRight 3.5s;
}

@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(-200px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
} 

.fade-Up {
  animation: fadeUp 5s;
}

@keyframes fadeUp {
  0% {
     opacity: 0;
     transform: translateY(100px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
} 


